.colaborador{
    width: 280px;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
}
.colaborador .encabezado{
    border-radius: 10px ;
    background: #f0f0f0;
    
}
.eliminar{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #f2f2f2;
    font-size: 20px;
}
.colaborador img{
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
   
}
.colaborador .info{
    background-color: #ffff;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0  0 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;
    

}
.colaborador .info h4{
    color: #6278F7;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
    line-height: 22px;
}
.colaborador .info h5{
    color: #212121;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 0 24px;
    margin: 0;
    font-weight: 400;
    line-height: 22px;
}