
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-color: #6278F7;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
}
.redes img {
    padding: 0 15px;
}