.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 50px;
    background-color: #fff;
    flex-wrap: wrap;
    gap: 20px;
    
   
}
.formulario form {
    width: 30%;
   flex: 1;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.20);
    padding: 8px 80px;
    }
.formulario h2{
    color: #212121;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Prata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fa-plus{
    margin-right: 5px;
}