.org-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: #6278F7;
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; /* 180% */
    border-bottom: 4px solid #6278F7 ;
    padding-bottom: 8px;
}
.org-section img{
    position: absolute;
    right: 30%;
    cursor: pointer;
}